.bg-container {
  background-image: linear-gradient(to left, #1d976c, #93f9b9);
  height: 100vh;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.details-container {
}
.card-head {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.labelforip {
  font-size: 10px;
  font-weight: 900;
  color: white;
}
.button {
  width: 150px;
  padding: 10px;
  color: green;
  font-weight: 900;
  background-color: white;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
}
.image {
  width: 500px;
}
.inputip {
  border-color: white;
  color: black;
  outline: none;
  border: solid 1px white;
  padding: 3px;
  border-radius: 4px;
  background-color: transparent;
}
